*{
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  /* background-color: #000; */
  font-size: small;
 

}
body{
  background-color: #000;
}

/* seadbar */
header {
    
  color: #fff;
  padding: 30px;
  display: inline;

}
.main {
  flex: 1;
  /* background-color: #000; */
  padding: -53px;
  margin-left: 486px;
  margin-top: -31px;
  margin-bottom: 17px;
}
.row{
  display: inline-flex;
}
section{
  margin-left: 780px;
  display: grid;
  margin-top: -431px;

}
.sidebar{
  width: 19%;
    /* background: #000; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 5px 0 20PX 0; */
    position: fixed;
    top: 0;
    left: -24px;
    height: 100%; 
    overflow-y: auto;
    cursor: pointer;

}
.aigram h1{
  color: white;
  font-size: 20px;
  margin-left: -86px;
  margin-top: 7px;
}
.sidebar ul{
  margin-top: 30px;

}
.sidebar ul li{
  color:#cdcccc;
  margin-top: 9px;
  margin-left: -67px;
  font-size: 15px;
  list-style: none;
  padding: 5px;
}
.sidebar ul li p{
  margin-left: 31px;
  margin-top: -18px;
  font-size: 13px;


}
.sidebar ul :hover {
  background-color: #29292a;
  border: 1px transparent;
  border-radius: 5px;
  box-shadow: 0 1px #29292a;
  
}


.sidebar ul li svg{
  width: 20px;
height: auto;
}
#profile{
  color: #fff;
  margin-left: 33px;
  margin-top: -23px;
  font-weight: bold;

}

#not{
  display: contents;
  margin-top: -5px;
}
#ul{
  margin-top: 97px;
  margin-right: 34px;
}

/* contenu */

svg{
  color:#cdcccc;
  font-size: 10Px;
  cursor: pointer;
  width: 20Px;
  margin-top: 5px;
 
}
#col2 img{
  border: 1px solid #000 ;
  padding: 2px;
  border-radius: 50%;
  width: 110px;
  height: 110px;

  margin-top: 15px;
}
#img{
  border-radius: 50%;
  width: 20px;
  height: 20px;

}
.row{
  display: inline-flex;

 
}
#name{

  font-size: 15px;
  color: white;
}
button{
  
  width: 90px;
  margin-left: 10px;
  color: white;
  border: 1px  ;
  padding: 5px;
  margin-top: 9Px;
  cursor: pointer;
  background-color:#5a5a5a;
  border-radius: 5px;
  box-shadow: 0 1px #000000;
}
button:hover {
  background-color: #828283
}
#par svg {
  margin-left: 9px;
  margin-top: 11px;
}

.col3{
  margin-top: 30Px;
  margin-left: 80px;
}
.dec ul li{

  font-size:small;
  margin-left: 5px;
  margin-right: 17px;
  margin-top: 10px;
  color: white;

}
.dec {
 
  margin-top: 10px;
}
.dec li {
  font-size: 1.4rem;
  flex: 1;
  margin: 0; 
  display: inline-block;
  list-style: none;
}
.ligne1 {
  border-left: 2px solid #3f3c3c;
  height: 968px;
  margin-left: 154px;
  position: fixed;

}
.ligne2 {
  border-top: 3px solid #1C1B1F;
  padding-top: 44px;
  margin-top: 290px;
  width: 800px;
  margin-left: -146px;
}
#img{
  border: 1px solid rgb(37, 37, 37);
  border-radius: 50%;
  background: rgb(39, 38, 38);
  width: 25px;
  margin-left: -3px;
  font-size: 30px;
  height: 25px;
  margin-top: 7px;
  border: 2px solid #fff;
}



/* profile */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -283px;
  margin-top: 34PX;
  background: revert;
 
  

}

.new {
  background-color: rgb(20 19 19)  ;
  border: 1px solid rgb(29, 28, 28);
  padding: 2px;
  border-radius: 55%;
  box-shadow: inset 0px 0px 0px 2px black;
  margin-left: -304px;
  margin-top: -2px;
  height: 51px;
  width: 55px;
}




.new svg {
  position: absolute;
  top: 33%;
  left: 41%;
  width: 36px;
  color: rgb(61, 61, 61);
  transform: translate(-50%, -66%);
  background-color: transparent;
}
#p{
  color: white;
  margin-top: 232px;
  margin-left: -442px;

}
/* tags */
.tags ul{
  font-family: "Open Sans", Arial, sans-serif;
  display: inline-flex;
  font-size: 15px;
  line-height: 0.5;
  margin-left: 650px;
margin-top: -90px;
  cursor: pointer;
  color: wheat;
}
#li{
  font-size: 16px;
  color: rgb(51, 50, 50);
  list-style: none;
  display: inline-flex;
  margin-left: -510px;
  margin-top: 295px;
}


.tags ul {
  font-family: "Open Sans", Arial, sans-serif;
    display: inline-flex;
    font-size: 15px;
    line-height: 0.5;
    margin-left: -600px;
    margin-top: 257px;
    cursor: pointer;
    color: white;
}
.tags{
  color: white;
  display: inline-flex;
}
#tag{
  margin-top: -15px;
  margin-left: 24px;
  margin-right: 40px;

  
}
.tag{
  border-top: 3px solid white;
    margin-top: -4px;
    margin-right: 25px;
    width: 61px;
    color: white;


}
#svg{
  color: white;
}


/* .grid */
.grid-container {
  margin-top: 400px;
  margin-left: -850px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 5px;
  background-color: #000;
  padding: 5px;
  width: 400px; 
}

.grid-container > div {
  text-align: center;
  padding: 2px;
  font-size: 30px;
  width: 270px; 
  height: 270px; 
}

.grid-container img {
  width: 100%; 
  height: 100%; 
  object-fit: cover;
}

/* footer */
footer p{

  margin-left: 550px;
  width: 54vw;
  color: gray;
  margin-left: 550px;

}
footer ul{
  display: inline-flex;
  list-style: none;
  color: gray;
  margin-left: 689px;
  width: 30vw;
  margin-top: 17px;
  
  
  }
footer li{
color: #828283;
}footer{
  margin-bottom: 20px;
}




